@import "normalize";
@import "settings";
@import "functions";


*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
    font-size: $base-font-size;
}

body {
	line-height: $base-line-height;
	color: $font-color;
  font-family: $font-family;
  background:$base-bg-color;
}

::-moz-selection {
    background: $selection-color;
    color: $selection-text;
    text-shadow: none;
}

::selection {
    background: $selection-color;
    color: $selection-text;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $font-color;
    margin: 1em 0;
    padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
